@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding-bottom: 100x;
  font-family: Jost;
}

.timeline strong {
  color: rgb(232, 46, 137);
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline p {
  text-align: justify;
}

.timeline {
  width: 70%;
  height: auto;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  border-radius: 5px;
  color: white;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(
      45deg,
      #fff,
      rgb(232, 46, 137),
      rgb(232, 46, 137)
    );
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(
      0deg,
      rgb(232, 46, 137),
      rgb(232, 46, 137),
      #fff
    );
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .timeline-content {
    min-height: 25vh;
    padding: 20px;
    border-radius: 5px;
    color: white;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
  }

  .timeline-component {
    margin: 0px 20px 20px 20px;
  }
}
